.footer {
  display: flex;
  justify-content: space-around;
  margin: -0.5rem -3.5rem;
  margin-top: 7rem;
}

.googlebar {
  width: 100%;
  height: 5px;
}

.googlebar span {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.googlebar #blue {
  background: "#0089FA";
}
.googlebar #red {
  background: "#FF002B";
}
.googlebar #orange {
  background: "#FFA900";
}
.googlebar #green {
  background: "#00A753";
}

.f-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  column-gap: normal;
  margin-top: 1rem;
  background-color: rgb(10, 100, 243);
}

.f-content #span1 {
  color: white;
  font-size: large;
  font-weight: bold;
  padding-top: 6%;
  margin-left: 50px;
  align-self: start;
}

.f-content #span2 {
  align-self: flex-end;
  color: white;
  font-size: medium;
  margin-right: 50px;
}

.f-content #span3 {
  align-self: flex-end;
  color: white;
  font-size: medium;
  font-weight: lighter;
  margin-right: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.f-icons {
  display: flex;
  align-self: flex-end;
  margin-right: 50px;
  gap: 1rem;
}

.f-icons #insta:hover {
  transition: 0.5s;
  animation-name: spin;
  animation-duration: 0.5s;
  filter: drop-shadow(2px 2px 5px #63151c);
}

.f-icons #discord:hover {
  transition: 0.5s;
  animation-name: spin;
  animation-duration: 0.5s;
  filter: drop-shadow(2px 2px 5px #0909c5);
}

.f-icons #youtube:hover {
  transition: 0.5s;
  animation-name: spin;
  animation-duration: 0.5s;
  filter: drop-shadow(2px 2px 5px #ff0000);
}

.f-icons #linkedin:hover {
  transition: 0.5s;
  animation-name: spin;
  animation-duration: 0.5s;
  filter: drop-shadow(2px 2px 5px #303bda);
}

.Map
{
  display: flex;
  align-self: flex-start;
  width: 20%;
  height:20%;
  margin-top: -13%;
  margin-left: 1%;
  padding-bottom:5%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .f-content 
  {
    transform: scale(1);
    margin-top: -5rem;
  }
  .f-content #span1
  {
    display: none;
  }
  .f-content #span2
  {
    margin-top: 2rem;
    align-self: center;
  }
  .f-content #span3
  {
    align-self: center;
  }
  .f-icons
  {
    align-self: center;
    padding-top: 2rem;
  }
  .Map
  {
    display: none;
  }
}
