.App
{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: black;
}


.buttn
{
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 15px 10px 10px;
  background: linear-gradient(100deg, #4c29cc 25.60%,#1ecdd3 99.30%);
  box-shadow: 0px 4px 24px 3px #28cafb6b;
}


.buttn:hover
{
  background: white;
  cursor: pointer;
  color:  rgb(132, 132, 238);
}

@media screen  and (max-width : 200px) {
    .App
    {
      padding: 0.5rem 1rem;
    }
  }